'''Sets in Python'''

A Set in Python programming is an unordered collection data type that is iterable, 
mutable and has no duplicate elements. 

(IT HAS NO DUPLICATE ELEMENTS)

Set are represented by { } (values enclosed in curly braces)

1) The major advantage of using a set, as opposed to a list, 
is that it has a highly optimized method for checking whether a 
specific element is contained in the set. 
2) This is based on a data structure known as a hash table. 
Since sets are unordered, we cannot access items using indexes as we do in lists.

https://www.geeksforgeeks.org/sets-in-python/

In [1]:
var = {'flower', 'elephant', 'apple', 'guitar', 'dog', 'igloo', 'carrot', 'jacket'}
type(var)

set

In [3]:
#           0       1          2        3       4         5         6           7      8         9
sets = {'Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'}
#         -10      -9       -8        -7      -6        -5        -4         -3        -2       -1 

type(sets)

set

Suppose you are working in an edtech company. The ed -tech company is offering a course on Calculus (C) and :inear Algebra(L), amond many other.
Now you want to represent the student in the course. Which data structure to USE ?

Assume all names are unique for the student taking part in the edtech comapany.

In [6]:
admission = ['Aanand', 'Satish, Umakant', 'Lokesh', 'Manoj', 'Riddhi', 'Aabha', 'Aanand', 'Rachel', 'Aashish', 'Prianka']
len(admission)

10

In [7]:
admission = {'Aanand', 'Satish, Umakant', 'Lokesh', 'Manoj', 'Riddhi', 'Aabha', 'Aanand', 'Rachel', 'Aashish', 'Prianka'}
print(admission)
# Set is unordered collection of data

{'Rachel', 'Lokesh', 'Riddhi', 'Manoj', 'Aashish', 'Aanand', 'Aabha', 'Satish, Umakant', 'Prianka'}

In [9]:
l = (1, 1, 2, 2, 3, 3) # duplicates wont be counted, so the answe will be 3
s = set(l)
print(len(s))

3

In [10]:
'''Type Casting with Python Set method
The Python set() method is used for type casting.

# Python set is an unordered datatype, 

which means we cannot know in which order the elements of the set are stored.
'''

# typecasting list to set
myset = set(["a", "b", "c"])
print(myset)
 
# Adding element to the set
myset.add("d")
print(myset)

{'b', 'c', 'a'}
{'d', 'b', 'c', 'a'}

In [2]:
'''Heterogeneous Element with Python Set

Python sets can store heterogeneous elements in it, 
i.e., a set can store a mixture of string, integer, boolean, etc datatypes.
'''

# Python example demonstrate that a set
# can store heterogeneous elements
myset = {"Geeks", "for", 10, 52.7, True}
print(myset)

{True, 52.7, 'Geeks', 10, 'for'}

In [16]:
set('hello world')
# this will remove duplicates 
# output = {' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [21]:
# in operater

admission = {'Aanand', 'Satish, Umakant', 'Lokesh', 'Manoj', 'Riddhi', 'Aabha', 'Aanand', 'Rachel', 'Aashish', 'Priyanka'}
'Aanand' in admission
'Priyanka' in admission

True

In [26]:
'''To take user input in a set, you can use the input() function to prompt the user to enter a comma-separated list of values.
 You can then split the input by commas and convert the resulting list of strings to a set using the set() function. 
Here's an example:


In this example, the input() function prompts the user to enter values separated by spaces. 
The split() method is used to convert the input string into a list of individual values, 
using the default separator of spaces. 
Finally, the set() function is used to create a set from the list, and the resulting set is printed to the console.

Note that sets do not preserve the order of the original input, and duplicate values are automatically removed.

'''

user_input = input("Enter values separated by spaces: ")
user_list = user_input.split() # Split input by spaces to create a list
user_set = set(user_list) # Convert the list to a set
print(user_set)

{'enough', 'what', 'life', 'just', 'get', 'they', 'You', 'want', 'help', 'everything', 'other', 'will', 'if', 'in', 'can', 'people', 'you'}

In [27]:
set = {'enough', 'what', 'life', 'just', 'get', 'they', 'You', 'want', 'help', 'everything', 'other', 'will', 'if', 'in', 'can', 'people', 'you'}
'what' in set

True

In [29]:
'''Iteration and Indexing for SET in python'''
s = {1, 2, 5, 7, 4, 8, 0, 4, 5, 7, 1, 2, 7, 5, 3}
s[2] =33
# 'set' does not support item assignment
# 'set' object is not subscriptable

TypeError: 'set' object does not support item assignment

In [38]:
'''Method #1: Iterating over a set using simple for loop.'''

# 
test_set = {'enough', 'what', 'life', 'just', 'get', 'they', 'You', 'want', 'help'}
 
# Iterating using for loop
for val in test_set:
    print(val, end =' ')

enough life get they You want help what just

In [41]:
set = {'Aanand', 'Satish', 'Umakant', 'Lokesh', 'Manoj', 'Riddhi', 'Aabha', 'Aanand', 'Rachel', 'Aashish', 'Priyanka'}

for val in set:
    print(val, end =' ')

Rachel Umakant Lokesh Riddhi Manoj Aashish Aanand Satish Aabha Priyanka

In [1]:
# Count of unique words present in the sentence.

'''This program first initializes a string variable sentence with the value "the quick brown fox jumps over the lazy dog". 
Then it splits the sentence into individual words using the split() function, and assigns the resulting list to a new variable called words.

Next, the program converts the list of words into a set of unique words using the set() function, 
and assigns the resulting set to a new variable called unique_words.

Finally, the program prints the count of unique words using the len() function and the print() function.

Note that this program considers two words to be unique if they have different spellings or different capitalization, 
even if they have the same meaning (for example, "The" and "the" are considered different words).
 
If you want to count only words with the exact same spelling and capitalization as unique, 
you can convert all the words to lowercase using the lower() method before creating the set of unique words.'''



sentence = "the quick brown fox jumps over the lazy dog"    # the sentence to be processed
words = sentence.split()    # split the sentence into individual words
unique_words = set(words)   # convert the list of words into a set of unique words

print("Number of unique words:", len(unique_words))    # display the count of unique words

Number of unique words: 8

In [5]:
msg ="Be the change you wish to see in the world."
word = msg.split()
print(word)
unique_words = set(word)
print(len(unique_words))

['Be', 'the', 'change', 'you', 'wish', 'to', 'see', 'in', 'the', 'world.']
9

In [6]:
msg ="Be the change you wish to see in the world."
word = msg.split()
print(len(set(word)))

9

In [ ]:
# Quizz
[1, 2, 2, 3, 4, 4, 6, 6, 7, 7, 8, 9, 19, 3, 31, 5,]

In [7]:
# Mutability

'''Check unique and  Immutable with Python Set
Python sets cannot have a duplicate value and once it is created we cannot change its value.'''

# Python program to demonstrate that
# a set cannot have duplicate values
# and we cannot change its items
 
# a set cannot have duplicate values
myset = {'Aanand', 'Satish', 'Umakant', 'Lokesh', 'Manoj', 'Riddhi', 'Aabha', 'Aanand', 'Rachel', 'Aashish', 'Priyanka'}
print(myset)
 
# values of a set cannot be changed
myset[1] = "Hello"
print(myset)

{'Aashish', 'Aanand', 'Manoj', 'Priyanka', 'Satish', 'Aabha', 'Lokesh', 'Riddhi', 'Umakant', 'Rachel'}

TypeError: 'set' object does not support item assignment

The first code explains that the set cannot have a duplicate value. Every item in it is a unique value. 

The second code generates an error because we cannot assign or change a value once the set is created. 
We can only add or delete items in the set.

{'Geeks', 'for'}
TypeError: 'set' object does not support item assignment

In [16]:
'''Adding elements to Python Sets
Insertion in the set is done through the set.add() function, 
where an appropriate record value is created to store in the hash table. 
Same as checking for an item, i.e., O(1) on average. 
However, in worst case it can become O(n).'''

# A Python program to
# demonstrate adding elements
# in a set

# Creating a Set
people = {"Jay", "Idrish", "Archi"}

print("People:", end = " ")
print(people)

# This will add Daxit
# in the set
people.add("Daxit")

# Adding elements to the
# set using iterator
for i in range(1, 6):
	people.add(i)

print("\nSet after adding element:", end = " ")
print(people)

People: {'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 'Daxit', 2, 'Idrish', 3, 4, 5, 'Jay', 'Archi'}

In [13]:
'''set.add() takes exactly one argument (2 given)

we can add elements to sets but not able to change any element.
'''

tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
tour.add("perfume")
print(tour)

{'GroomingKit ', 'blacket', 'charger', 'phone', 'laptop', 'soap', 'toothpaste', 'perfume', 'shirts', 'bags'}

In [15]:
tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
tour.add("perfume")
tour.add("GroomingKit")
print(tour)

{'blacket', 'charger', 'phone', 'laptop', 'soap', 'toothpaste', 'perfume', 'GroomingKit', 'shirts', 'bags'}

In [23]:
tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
grooming_kit = {'shower gel', 'sanitizer', 'shaving gel', 'blades'}
tour.update(grooming_kit)
print(tour)

{'sanitizer', 'blades', 'blacket', 'charger', 'shaving gel', 'phone', 'laptop', 'soap', 'toothpaste', 'shirts', 'bags', 'shower gel'}

In [25]:
# Deleting an element (random elemnt will be deleted)
tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
tour.pop()
print(tour)

{'charger', 'phone', 'laptop', 'soap', 'toothpaste', 'shirts', 'bags'}

In [26]:
# Deleting an element (specific element will be deleted)
tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
tour.remove('soap')
print(tour)

{'blacket', 'charger', 'phone', 'laptop', 'toothpaste', 'shirts', 'bags'}

In [27]:
tour = {'blacket', 'toothpaste', 'soap','charger', 'laptop', 'shirts', 'bags', 'charger', 'phone'}
tour.discard('soap')
print(tour)

{'blacket', 'charger', 'phone', 'laptop', 'toothpaste', 'shirts', 'bags'}

In [9]:
'''
Methods for Sets
Adding elements to Python Sets

Insertion in the set is done through the set.add() function, 
where an appropriate record value is created to store in the hash table. 
Same as checking for an item, i.e., O(1) on average. 
However, in worst case it can become O(n).

'''


# A Python program to
# demonstrate adding elements
# in a set

# Creating a Set
terrestial_object = {"Jupiter", "Mars", "Earth", "Sun", "Super Nova", "Interstellar"}

print("Terrestial object", end = " ")
print(terrestial_object)

terrestial_object.add("Pluto")

print(terrestial_object)

# Adding elements to the
# set using iterator

for i in range(1, 6):
    terrestial_object.add(i)

print("\nSet after adding element:", end = " ")
print(terrestial_object)

Terrestial object {'Earth', 'Sun', 'Super Nova', 'Mars', 'Interstellar', 'Jupiter'}
{'Earth', 'Pluto', 'Sun', 'Super Nova', 'Mars', 'Interstellar', 'Jupiter'}

Set after adding element: {1, 2, 3, 4, 5, 'Super Nova', 'Interstellar', 'Pluto', 'Mars', 'Jupiter', 'Earth', 'Sun'}

In [17]:
'''Union operation on Python Sets
Two sets can be merged using union() function or | operator.
Both Hash Table values are accessed and traversed with merge operation perform on them to combine the elements,
 at the same time duplicates are removed.
The Time Complexity of this is O(len(s1) + len(s2)) where s1 and s2 are two sets whose union needs to be done.'''

# Python Program to
# demonstrate union of
# two sets
 
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
 
# Union using union()
# function
population = people.union(vampires)
 
print("Union using union() function")
print(population)
 
# Union using "|"
# operator
population = people|dracula
 
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Jay', 'Karan', 'Archil', 'Arjun'}

Union using '|' operator
{'Deepanshu', 'Idrish', 'Jay', 'Raju', 'Archil'}

In [14]:
'''Intersection operation on Python Sets

This can be done through intersection() or & operator.
Common Elements are selected. They are similar to iteration over the Hash lists and combining the same values on both the Table. 
Time Complexity of this is O(min(len(s1), len(s2)) where s1 and s2 are two sets whose union needs to be done.

'''

# python program to demonstrate intersection of two programs 

set1 = set()
set2 = set()

# USing for loop, we will make some ranges 

for i in range(5):
    set1.add(i)

for i in range(3, 9):
    set2.add(i)

# intersection using 
# .intersection() function

set3 = set1.intersection(set2)

print("Intersection using .intersection() function")
print(set3)

# Intersection using
# "&" operator 

set3 = set1 & set2

print("\nIntersection using '&' operator")
print(set3)

Intersection using .intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [18]:
'''Finding Differences of Sets in Python

To find differences between sets. 
Similar to finding differences in the linked list.
This is done through difference() or  operator. 
Time complexity of finding difference s1  s2 is O(len(s1)) 

'''
# USing for loop, we will make some ranges 
set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3, 9):
    set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print(" Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [18]:
# Grosary 
food = {'cookies', 'oil', 'lentis', 'spices', 'cake'}
personal_care = {'soap', 'loation', 'talcum powder', 'cream', 'shower gel'}

print('Union using union() function')
shoping_list = food.union(personal_care)

print(shoping_list)

Union using union() function
{'oil', 'cookies', 'shower gel', 'soap', 'lentis', 'loation', 'cream', 'talcum powder', 'spices', 'cake'}

In [20]:
food = {'cookies', 'oil', 'lentis', 'spices', 'cake'}
personal_care = {'soap', 'loation', 'talcum powder', 'cream', 'shower gel'}

shoping_list = food|personal_care

print(shoping_list)

{'oil', 'cookies', 'shower gel', 'soap', 'lentis', 'loation', 'cream', 'talcum powder', 'spices', 'cake'}

In [ ]:
'''https://www.tutorialspoint.com/python-set-operation'''

In [29]:
'''add(x) Method: It adds the item x to a set if it is non-preexisting.'''

A = {"AA", "BB", "CC"}
A.add("VV")
print(A)

{'AA', 'VV', 'CC', 'BB'}

In [1]:
'''union(s) Method: It returns a union of two set.Using the operator ‘|’between 2 existing sets is the same as writing My_Set1.union(My_Set2)..'''


A = {"AA", "BB", "CC"}
B = {"MM", "NN"}
Z = A.union(B)
# OR
Z = A|B
print(Z)

{'NN', 'AA', 'MM', 'BB', 'CC'}

In [36]:
'''intersect(s) Method: It returns an intersection of two givensets. The ‘&’ operator can be used in this operation.'''
A = {"AA", "BB", "CC", "DD"}
B = {"DD", "CC", "EE", "FF"}

S = A.intersection(B) # common element in both sets
print(S)

{'CC', 'DD'}

In [42]:
'''difference(s) Method: Returns a set containing all the elements 
which are existing in the first set but not present in the second set. 
We can use ‘-‘ operator here.'''

A = {"AA", "BB", "CC", "DD"}
B = {"DD", "CC", "EE", "FF"}

W = A.difference(B)
# OR
W = B - A


print(W)

{'FF', 'EE'}

In [43]:
'''clear() Method: The whole existing set will become empty.'''
B = {"DD", "CC", "EE", "FF"}
B.clear()
print(B)

set()

In [46]:
'''
| for union.
& for intersection.
- for difference
^ for symmetric difference

'''

# Program to perform different set operations
# as we do in mathematics

# sets are define
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

# union
print("Union :", A | B)

# intersection
print("Intersection :", A & B)

# difference
print("Difference :", A - B)

# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

Operators for Sets
Sets and frozen sets support the following operators -

key in s         # containment check
key not in s   # non-containment check
s1 == s2       # s1 is equivalent to s2
s1 != s2       # s1 is not equivalent to s2
s1 <= s2    # s1is subset of s2 s1 < s2     # s1 is proper subset of s2 s1 >= s2             # s1is superset of s2
s1 > s2     # s1 is proper superset of s2
s1 | s2        # the union of s1 and s2
s1 & s2        # the intersection of s1 and s2
s1 – s2        # the set of elements in s1 but not s2
s1 ˆ s2        # the set of elements in precisely one of s1 or s2

In [33]:
# Python program to demonstrate working# of 
# Set in Python 
# creating two sets 
My_Set1 = set()
My_Set2 = set()
# Adding elements to My_Set1
for i in range(1, 6): 
   My_Set1.add(i) 
# Adding elements to My_Set2
for i in range(3, 8): 
   My_Set2.add(i) 
print("My_Set1 = ", My_Set1) 
print("My_Set2 = ", My_Set2) 
print("\n") 
# Union of My_Set1 and My_Set2
My_Set3 = My_Set1 | My_Set2# My_Set1.union(My_Set2) 
print("Union of My_Set1&My_Set2: My_Set3 = ", My_Set3) 
# Intersection of My_Set1 and My_Set2
My_Set4 = My_Set1&My_Set2# My_Set1.intersection(My_Set2) 
print("Intersection of My_Set1&My_Set2: My_Set4 = ", My_Set4) 
print("\n") 
# Checking relation between My_Set3 and My_Set4
if My_Set3>My_Set4: # My_Set3.issuperset(My_Set4) 
   print("My_Set3 is superset of My_Set4") 
elif My_Set3<My_Set4: # My_Set3.issubset(My_Set4) 
   print("My_Set3 is subset of My_Set4") 
else : # My_Set3 == My_Set4
   print("My_Set3 is same as My_Set4") 
# displaying relation between My_Set4 and My_Set3
if My_Set4<My_Set3: # My_Set4.issubset(My_Set3) 
   print("My_Set4 is subset of My_Set3") 
   print("\n") 
# difference between My_Set3 and My_Set4
My_Set5 = My_Set3 - My_Set4
print("Elements in My_Set3 and not in My_Set4: My_Set5 = ", My_Set5) 
print("\n") 
# check if My_Set4 and My_Set5 are disjoint sets 
if My_Set4.isdisjoint(My_Set5): 
   print("My_Set4 and My_Set5 have nothing in common\n") 
# Removing all the values of My_Set5
My_Set5.clear()
print("After applying clear on sets My_Set5: ") 
print("My_Set5 = ", My_Set5) # Python program to demonstrate working# of 
# Set in Python 
# creating two sets 
My_Set1 = set()
My_Set2 = set()
# Adding elements to My_Set1
for i in range(1, 6): 
   My_Set1.add(i) 
# Adding elements to My_Set2
for i in range(3, 8): 
   My_Set2.add(i) 
print("My_Set1 = ", My_Set1) 
print("My_Set2 = ", My_Set2) 
print("\n") 
# Union of My_Set1 and My_Set2
My_Set3 = My_Set1 | My_Set2# My_Set1.union(My_Set2) 
print("Union of My_Set1&My_Set2: My_Set3 = ", My_Set3) 
# Intersection of My_Set1 and My_Set2
My_Set4 = My_Set1&My_Set2# My_Set1.intersection(My_Set2) 
print("Intersection of My_Set1&My_Set2: My_Set4 = ", My_Set4) 
print("\n") 
# Checking relation between My_Set3 and My_Set4
if My_Set3>My_Set4: # My_Set3.issuperset(My_Set4) 
   print("My_Set3 is superset of My_Set4") 
elif My_Set3<My_Set4: # My_Set3.issubset(My_Set4) 
   print("My_Set3 is subset of My_Set4") 
else : # My_Set3 == My_Set4
   print("My_Set3 is same as My_Set4") 
# displaying relation between My_Set4 and My_Set3
if My_Set4<My_Set3: # My_Set4.issubset(My_Set3) 
   print("My_Set4 is subset of My_Set3") 
   print("\n") 
# difference between My_Set3 and My_Set4
My_Set5 = My_Set3 - My_Set4
print("Elements in My_Set3 and not in My_Set4: My_Set5 = ", My_Set5) 
print("\n") 
# check if My_Set4 and My_Set5 are disjoint sets 
if My_Set4.isdisjoint(My_Set5): 
   print("My_Set4 and My_Set5 have nothing in common\n") 
# Removing all the values of My_Set5
My_Set5.clear()
print("After applying clear on sets My_Set5: ") 
print("My_Set5 = ", My_Set5)

My_Set1 =  {1, 2, 3, 4, 5}
My_Set2 =  {3, 4, 5, 6, 7}


Union of My_Set1&My_Set2: My_Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of My_Set1&My_Set2: My_Set4 =  {3, 4, 5}


My_Set3 is superset of My_Set4
My_Set4 is subset of My_Set3


Elements in My_Set3 and not in My_Set4: My_Set5 =  {1, 2, 6, 7}


My_Set4 and My_Set5 have nothing in common

After applying clear on sets My_Set5:
My_Set5 =  set()
My_Set1 =  {1, 2, 3, 4, 5}
My_Set2 =  {3, 4, 5, 6, 7}


Union of My_Set1&My_Set2: My_Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of My_Set1&My_Set2: My_Set4 =  {3, 4, 5}


My_Set3 is superset of My_Set4
My_Set4 is subset of My_Set3


Elements in My_Set3 and not in My_Set4: My_Set5 =  {1, 2, 6, 7}


My_Set4 and My_Set5 have nothing in common

After applying clear on sets My_Set5:
My_Set5 =  set()