In [ ]:
https://www.geeksforgeeks.org/tuples-in-python/

In [ ]:
'''Tuples in Python

Python Tuple is a collection of objects separated by commas. 
In some ways, a tuple is similar to a list in terms of indexing, nested objects, 
and repetition but a tuple is immutable, unlike lists which are mutable.

'''

var = ("I", "am", "Quantitative Analyst")
print(var)

In [8]:
planets = [ 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('Initial Tuples:', planets)
planets[2] = 'MotherEarth'

print('Modified Tuple:', planets)

Initial Tuples: ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Modified Tuple: ['Mercury', 'Venus', 'MotherEarth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [11]:
'''TypeError: 'tuple' object does not support item assignment'''

t = ('Mercury', 'Venus', 'Earth', 'Mars')
t[2] = 'Neptue'

TypeError: 'tuple' object does not support item assignment

In [12]:
'''A new way of creating Python Tuples in Python 3.11 –'''

values : tuple[int | str, ...] = (1,2,4,"Geek")
 
print(values)

'''Here, in the above snipper we are considering a variable called values which holds a tuple which consists of either int or str , 
the ‘…’ means that the tuple will hold more than one int or str

Note: In case your generating a tuple with a single element, make sure to add a comma after the element. '''

(1, 2, 4, 'Geek')

'Here, in the above snipper we are considering a variable called values which holds a tuple which consists of either int or str , \nthe ‘…’ means that the tuple will hold more than one int or str\n\nNote: In case your generating a tuple with a single element, make sure to add a comma after the element. '

In [14]:
t = ('Umakant')
type(t)

int

In [17]:
t = ('I am ', "Umakant")
type(t)

tuple

In [15]:
s = (1+2+3)
type(s)

int

In [16]:
var = ("I", "am", "Quantitative Analyst")
type(var)

tuple

In [19]:
# Quizz 2
print(type((1, 2, 3)))

<class 'tuple'>

In [22]:
T1 = (1) # int
T2  = (3, 4) # tuple
T1 += 5
print(T1) # soubt output will be 6, tuple will not be executed

6

In [24]:
t = tuple(range(1, 10, 2)) # step size is 2 so output will be


\ 1, 3, 5, 7, 9. 
print(t)

(1, 3, 5, 7, 9)

In [75]:
'''
Immutable Python Tuples
# 'tuple' object does not support item assignment

'''

# code to test that tuples are immutable
 
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [26]:
''''tuple' object has no attribute 'append'''

t = ('Mercury', 'Venus', 'Earth', 'Mars')
t.append("Pluto")

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
'''Convert list to tuple '''

'''In Python, you can convert a list into a tuple by simply calling 
the tuple() function and passing the list as an argument.
Here's an example:'''

my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [30]:
'''In both examples, we simply created a list and then used the tuple() function to convert it into a tuple. 
The resulting tuples have the same elements as the original lists, 
but they are now immutable (i.e., their values cannot be changed).'''

my_list = ['apple', 'banana', 'cherry']
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'banana', 'cherry')

In [32]:
tpl = tuple("Autobiography of Mahatma Gandhi")
print(tpl)

('A', 'u', 't', 'o', 'b', 'i', 'o', 'g', 'r', 'a', 'p', 'h', 'y', ' ', 'o', 'f', ' ', 'M', 'a', 'h', 'a', 't', 'm', 'a', ' ', 'G', 'a', 'n', 'd', 'h', 'i')

In [33]:
# Quizz
tuple('hello world')

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [36]:
'''tuple expected at most 1 argument, got 2'''
tuple('Interstellar','Topgun Mavrick')

TypeError: tuple expected at most 1 argument, got 2

In [37]:
'''Accessing Values in Python Tuples
Method 1: Using Positive Index
Using square brackets we can get the values from tuples in Python.'''

var = ("Umakant", "is", "generous", "person.")
 
print("Value in Var[0] = ", var[0])
print("Value in Var[1] = ", var[1])
print("Value in Var[2] = ", var[2])
print("Value in Var[3] = ", var[3])

Value in Var[0] =  Umakant
Value in Var[1] =  is
Value in Var[2] =  generous
Value in Var[3] =  person.

In [ ]:
'''TypeError                                 Traceback (most recent call last)
Cell In[41], line 3
      1 n  =  int(input())
      2 tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
----> 3 print('position in planet:', tuple(n)) # her we have used () instead of []

TypeError: 'tuple' object is not callable'''

n  =  int(input())
tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
print('position in planet:', tuple(n))

In [40]:
n  =  int(input())
tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
print('position in planet:', tuple[n])

position in planet: Uranus

In [45]:
'''Method 2: Using Negative Index.
In the above methods, we use the positive index to access the value in Python, 
and here we will use -ve index within [].'''

var = ("Umakant", "is", "generous", "person.")
 
print("Value in Var[-4] = ", var[-4])
print("Value in Var[-3] = ", var[-3])
print("Value in Var[-2] = ", var[-2])
print("Value in Var[-1] = ", var[-1])

Value in Var[-4] =  Umakant
Value in Var[-3] =  is
Value in Var[-2] =  generous
Value in Var[-1] =  person.

In [47]:
n  =  int(input())
#           0       1          2        3       4         5         6           7      8         9
tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
#         -10      -9       -8        -7      -6        -5        -4         -3        -2       -1 
print('position in planet:', tuple[n])

position in planet: Pluto

In [48]:
''' Slicing Python Tuples'''

# code to test slicing
 
tuple1 = (0 ,1, 2, 3)
print(tuple1[1:])
print(tuple1[::-1]) # inversing
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [74]:
#           0       1          2        3       4         5         6           7      8         9
tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
#         -10      -9       -8        -7      -6        -5        -4         -3        -2       -1 

print(tuple[-1:])
print(tuple[-5:-1])
print(tuple[0::5]) # fromn sun to Jupiter
print(tuple[::-1]) # this is how we rever the tuple

('Pluto',)
('Jupiter', 'Saturn', 'Uranus', 'Neptune')
('Sun', 'Jupiter')
('Pluto', 'Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury', 'Sun')

In [76]:
''' Finding Length of a Tuple'''

# Code for deleting a tuple
 
#           0       1          2        3       4         5         6           7      8         9
tuple = ('Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
#         -10      -9       -8        -7      -6        -5        -4         -3        -2       -1 
del tuple
print(tuple)

<class 'tuple'>

In [78]:
''' Repetition Python Tuples'''

# Code to create a tuple with repetition
 
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [77]:
'''Concatenation of Python Tuples
To concatenate the Python tuple we will use plus operators(+).'''

# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')
 
# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [ ]:
l

In [ ]:
# https://www.geeksforgeeks.org/python-count-tuples-occurrence-in-list-of-tuples/?ref=rp

'''count of element in tuple'''

In [83]:
'''This code defines a list of things, and then uses the random module to generate a random integer
 between 1 and 10 to determine the length of the list, and then uses the random.sample() function 
 to randomly select elements from the things list without replacement to create a new list of the specified length.

You can run this code multiple times to see different random lists of things with different lengths.'''

import random

# Define a list of things
things = ['apple', 'banana', 'carrot', 'dog', 'elephant', 'flower', 'guitar', 'house', 'igloo', 'jacket']

# Generate a random list of things with a random length between 1 and 10
length = random.randint(1, 10)
my_list = random.sample(things, length)

# Print the list
print(my_list)

['flower', 'elephant', 'apple', 'guitar', 'dog', 'igloo', 'carrot', 'jacket']

In [86]:
tup = ('flower', 'elephant', 'apple', 'guitar', 'dog', 'igloo', 'carrot', 'jacket')
for i in t:
    if i == target:
        count += 1
print(count)

NameError: name 'target' is not defined

In [85]:
t=(3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)