Python Data Types
Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:
Text Type: 	str
Numeric Types: 	int, float, complex
Sequence Types: 	list, tuple, range
Mapping Type: 	dict
Set Types: 	set, frozenset
Boolean Type: 	bool
Binary Types: 	bytes, bytearray, memoryview
None Type: 	NoneType

https://www.w3schools.com/python/python_datatypes.asp

Getting the Data Type

# https://www.w3schools.com/python/python_datatypes.asp

You can get the data type of any object by using the type() function:

In [1]:
# Examples
x = 98.32
type(x)

float

In [4]:
a = "abc_986" # string
type(a)

str

In [6]:
numb_abs =987654352 # int
type(numb_abs)

int

In [8]:
a =["Banana", "Lenovo", "Money", "Fame"] # list
type(a)

list

In [9]:
b = {"ball", "bat", "hat", "cat"} # set
type(b)

set

In [18]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [17]:
x = range(6)
print(x)
type(x)
print(type(x))

range(0, 6)
<class 'range'>

In [16]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [5]:
"""Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:"""

x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [6]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

Setting the Specific Data Type

If you want to specify the data type, you can use the following constructor functions:

In [20]:
# examples
x = str("Hello World")
#display the data in x
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [23]:
num = int(98.65) # conversion of float to int
n = num # replacing the variable name
print(n)

98

In [28]:
x = list(("apple", "banana", "cherry"))
y = tuple(("apple", "banana", "cherry"))
print(type(x))
print(x)
print(type(y))
print(y)

<class 'list'>
['apple', 'banana', 'cherry']
<class 'tuple'>
('apple', 'banana', 'cherry')

In [29]:
x = dict(name="John", age=36) 	#dict
y = set(("apple", "banana", "cherry")) 	#set
z = frozenset(("apple", "banana", "cherry")) #frozenset
print(type(x))
print(x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'dict'>
{'name': 'John', 'age': 36}
<class 'set'>
{'banana', 'cherry', 'apple'}
<class 'frozenset'>
frozenset({'banana', 'cherry', 'apple'})

In [4]:
"""Casting
If you want to specify the data type of a variable, 
this can be done with casting."""

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x, y, z)

3 3 3.0

In [2]:
"""Get the Type
You can get the data type of a variable with the type() function."""

x = 5
y = "John"
z = True
lst = [10, 34, 20, 56]
lst2 = ["I", "Love", "Myself"]
set = {23, 56, 78, 54}
print(type(x), x)
print(type(y), y)
print(type(z), z)
print(type(lst), lst)
print(type(lst2), lst2)
print(type(set), set)

<class 'int'> 5
<class 'str'> John
<class 'bool'> True
<class 'list'> [10, 34, 20, 56]
<class 'list'> ['I', 'Love', 'Myself']
<class 'set'> {56, 78, 54, 23}

In [1]:
# Python program to declare variables
myNumber = 3
print(myNumber)
  
myNumber2 = 4.5
print(myNumber2)
  
myNumber ="hello world"
print(myNumber)

3
4.5
hello world

# Asignments and Homework

In [ ]:
# Concatenate Anything

In [2]:
x = "Happy"
y = "Birthday"

print(x+y)
print(x==y)

HappyBirthday
False

In [6]:
a = "+91"
b = str(input())
print(a," "+b)

9765765795
+91  9765765795

In [14]:
# to print first alphabet using loop
n =  int(input())
for letter in range(ord('A'), ord('A') + n):
    print(chr(letter), end=' ')

6
A B C D E F

In [13]:
# Print the first five letters of the English alphabet i.e. A, B, C, D and E.

alphabet = "abcdefghijklmnopqrstuvwxyz"

first_five = alphabet[:5]
print(first_five,)

abcde

In [ ]:
# Print the first five letters of the English alphabet i.e. A, B, C, D and E.
for i in range (65, 70):
    print(chr(i),)

In [1]:
'''Given two names A and B as input, print "A says Hi to B" (Without quotations),
where A and B are the names in input.'''

a = str(input())
b = str(input())
print(a, "says hi to " +b)

Umakant
Digvijay
Umakant  says hi to Digvijay

In [28]:
# remaining break timing
print("Total time is 60 min")
time = 60
elapsed_time = int(input())
remaining_time = time - elapsed_time
print("Time remaining in baking",remaining_time)

# now we have to calculate time taken to to each later of lasanga
# time taken to each layer is 2 min
layer =  int(input(0))
time_layer = layer*2
print("the number of layers:", layer)
print("Time taken to each layer:", time_layer)

# now overall time to cook lasagna

total_elapsed_time = layer*2+elapsed_time
print("Total time taken to cook", total_elapsed_time)

Total time is 60 min
35
Time remaining in baking 25
03
the number of layers: 3
Time taken to each layer: 6
Total time taken to cook 41